apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: grafana-ingress
  namespace: monitoring
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`grafana.127.0.0.1.nip.io`) && PathPrefix(`/`)
      kind: Rule
      services:
        - name: grafana
          port: grafana
  tls:
    secretName: grafana--secret